doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/socket.io/socket.io.js')
  body
   
block content
  h1= title
  #disconected
    p Desconectado!
  #connected.hide
    p Conectado!
  h2 Has pulsado 0 veces!
  input(type='button', value='Enviar pulsación')#button

  script.
    var socket = io.connect('http://104-238-92-139:3000');

    function toggle(){
      $("#disconected").toggleClass("hide");
      $("#connected").toggleClass("hide");
    };

    socket.on('connected_now', function () {
      console.log('Conectado');
      toggle();
    });

    
    $("#button").click(function(){
      socket.emit('click');
      });

    
    socket.on('otherClick', function(clicks){
      console.log('Clicks: '+clicks);
      $('h2').replaceWith('<h2>Has pulsado '+clicks+' veces!');
      });


    socket.on('disconnect', function () {
      console.log('Desconectado!');
      toggle();
      });
